<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mana super lapa - about</title>
</head>
<body>
    <h1>Mani sauc Maikls</h1>
    <p>Esmu super programmētājs</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex eveniet culpa aperiam neque aliquam? Magnam aliquid quos porro numquam, quod consequuntur tenetur aspernatur, asperiores facilis a blanditiis cupiditate totam omnis.</p>
</body>
</html>